* {
  box-sizing: border-box;
      font-family: Varela Round, Open Sans, sans-serif;
}


h1 {
    text-align: center;
    font-size: 1.75em;
    color: #253d58;
    margin-bottom: 1.5em;
        font-weight: 800;

}

section{

    background-color: #c9a959;
        color: black;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 180px;
    position: relative;
    }

p{

    margin-left: 10px;
    margin-right: 10px; 
    clear: both;
}

#chicken{
    position: relative;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;


    width: 120px;
    height: 30px;
    padding: 5px;

    margin-bottom: 15px;
    text-align: center;

    background-color: #253d5b;
    color: white;
}

#beef{
    position: relative;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;


    width: 120px;
    height: 30px;
    padding: 5px;

    margin-bottom: 15px;
    text-align: center;

    background-color: #b44919;
    color: white;
}

#salmon{
    position: relative;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;

    padding: 5px;
    width: 120px;
    height: 30px;

    margin-bottom: 15px;
    text-align: center;

    background-color: #ac8181;
}

.subhead{

    text-align: center;
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}   

}

.row {
  width: 100%;
}

/**********MEDIA QUERIES**********/
@media (min-width: 992px) {
    .col-lg-4 {
    float: left;
    width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-med-6, .col-med-12{
        float: left;
    }
    .col-med-6{
        width: 50%;
    }
    .col-med-12 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .col-low-12 {
    float: left;
    width: 100%;
    }
}

